%svg{"enable-background" => "new 0.5 -0.5 48 28", :height => "28", :viewBox => "0.5 -0.5 48 28", :width => "48", :xmlns => "http://www.w3.org/2000/svg", "xmlns:sketch" => "http://www.bohemiancoding.com/sketch/ns"}
  %title Group
  %desc Created with Sketch.
  %g{:fill => "none", "sketch:type" => "MSShapeGroup", :stroke => "#231F20", "stroke-linejoin" => "round", :transform => "translate(-593 -71) translate(594 73)"}
    %circle{:cx => "38.5", :cy => "16.5", :r => "8", "stroke-width" => "2"}
    %circle{:cx => "8.5", :cy => "16.5", :r => "8", "stroke-width" => "2"}
    %path{:d => "M25.5 17l13-.548-4.368-6.459-3.632-3.993-17-2 12 13z"}
    %path{:d => "M20.083-.5l-4.583-.5-7 17", "stroke-width" => "2"}
    %circle{:cx => "25.5", :cy => "18.5", :r => "2", "stroke-width" => "2"}
    %path{:d => "M32.5 1.417l-6 15.083", "stroke-width" => "2"}
    %path{:d => "M35.5 1.417h-7", "stroke-width" => "2"}
    %circle{:cx => "8.504", :cy => "16.504", :r => "1.598"}
    %circle{:cx => "38.484", :cy => "16.546", :r => "1.515"}
    %path{:d => "M24.5 20.25l-1.036 2.75h-1.839", "stroke-width" => "2"}