%svg{"enable-background" => "new 0.5 -0.5 50 45", :height => "45", :viewBox => "0.5 -0.5 50 45", :width => "50", :xmlns => "http://www.w3.org/2000/svg", "xmlns:sketch" => "http://www.bohemiancoding.com/sketch/ns"}
  %title boat
  %desc Created with Sketch.
  %g{:fill => "none", "sketch:type" => "MSShapeGroup", :stroke => "#231F20", "stroke-linejoin" => "round"}
    %path{:d => "M46.119 39h-36.09c-5.187-2.961-7.529-11.061-7.529-11.061s5.822 3.756 24.94 5.027c.654.045 1.533-4.007 2.222-3.969l12.323.956c.92.146 1.858 3.173 2.818 3.164 1.185-.013 2.396.024 3.641 0l-2.325 5.883z", "stroke-width" => "2"}
    %path{:d => "M23.5 25.814s5.961.639 17.04-.729c0 .003-12.691-2.48-17.04-18.966v19.695z", "stroke-width" => "2"}
    %path{:d => "M20.443 2.819v25.601s-12.072-2.484-16.573-4.699c0 0 14.88-15.346 16.573-20.902z", "stroke-width" => "2"}
    %path{:d => "M30.531 32.5h2.907"}
    %path{:d => "M35.531 32.5h2.938"}
    %path{:d => "M40.531 32.5h2.938"}