%svg{"enable-background" => "new 0.5 0 48 27", :height => "27", :viewBox => "0.5 0 48 27", :width => "48", :xmlns => "http://www.w3.org/2000/svg", "xmlns:sketch" => "http://www.bohemiancoding.com/sketch/ns"}
  %title bus
  %desc Created with Sketch.
  %g{:fill => "none", "sketch:type" => "MSShapeGroup", :stroke => "#231F20", :transform => "translate(-443 -72) translate(444 73)"}
    %path{:d => "M10.066 1.085v11.012c0 .78-.637 1.412-1.416 1.412h-7.41"}
    %ellipse{:cx => "12.02", :cy => "21.475", :rx => "3.52", :ry => "3.588", "stroke-width" => "2"}
    %circle{:cx => "38.015", :cy => "21.475", :r => "3.515", "stroke-width" => "2"}
    %path{:d => "M15.854 22.04h18.292", "stroke-width" => "2"}
    %path{:d => "M41.564 22.04h3.45c.819 0 1.483-.688 1.483-1.538v-17.963c0-.85-.664-1.539-1.483-1.539h-43.031c-.819 0-1.483.689-1.483 1.539v17.963c0 .851.664 1.538 1.483 1.538h6.452", "stroke-width" => "2"}
    %path{:d => "M.5 18.53h5.936"}
    %path{:d => "M8.629 13.509h37.161"}
    %path{:d => "M12.916 1.509v11.666"}
    %path{:d => "M19.916 1.509v11.666"}
    %path{:d => "M26.916 1.509v11.666"}
    %path{:d => "M33.916 1.509v11.666"}
    %path{:d => "M40.916 1.509v11.666"}