%svg{"enable-background" => "new 0.5 2 50 25", :height => "25", :viewBox => "0.5 2 50 25", :width => "50", :xmlns => "http://www.w3.org/2000/svg"}
  %title car
  %desc Created with Sketch.
  %g{:fill => "none", :stroke => "#231F20"}
    %ellipse{:cx => "39.028", :cy => "21.56", :rx => "4.506", :ry => "4.522", "stroke-width" => "2"}
    %ellipse{:cx => "13.006", :cy => "21.56", :rx => "4.506", :ry => "4.522", "stroke-width" => "2"}
    %path{:d => "M43.389 22.066h5.111l-1.46-8.672-5.111-1.445-5.842-7.949h-16.794l-7.301 7.949-8.762 2.09-.73 8.027h5.841", "stroke-width" => "2"}
    %path{:d => "M17.373 22.066h17.984", "stroke-width" => "2"}
    %path{:d => "M24.5 14.472h1.99"}
    %path{:d => "M35.5 14.472h1.929"}
    %path{:d => "M3.23 18.459h5.478"}
    %path{:d => "M42.659 18.488h5.841"}
    %path{:d => "M25.896 12.593h-8.896l4-4.974h4.896v4.974z"}
    %path{:d => "M29 12.5h8.125l-3.125-4.881h-5v4.881z"}
