%svg{"enable-background" => "new 0.5 0 50 27", :height => "27", :viewBox => "0.5 0 50 27", :width => "50", :xmlns => "http://www.w3.org/2000/svg", "xmlns:sketch" => "http://www.bohemiancoding.com/sketch/ns"}
  %title cruise
  %desc Created with Sketch.
  %g{:fill => "none", "sketch:type" => "MSShapeGroup", :stroke => "#231F20", "stroke-linejoin" => "round", :transform => "translate(-745 -70) translate(747 71)"}
    %path{:d => "M8.065 12.233l34.088 4.447"}
    %path{:d => "M-.435 11.078s6.556 13.922 21.959 13.922h24.867c.717 0-2.341-8.019-2.341-8.019l-4.125-.596-3.005-10.313h-8.64c-10.938 0-16.342 6.688-16.342 6.688l-12.373-1.682z", "stroke-width" => "2"}
    %ellipse{:cx => "31.5", :cy => "18.001", :rx => "2.532", :ry => "2.563"}
    %ellipse{:cx => "38.48", :cy => "19.059", :rx => "2.543", :ry => "2.485"}
    %path{:d => "M26.96 8.495h2.044v3.895h-2.044z"}
    %path{:d => "M36.065 12.526h-4.094v-4.017h2.931l1.163 4.017z"}
    %path{:d => "M24.096 8.552v3.852h-6.084c1.139-1.74 4.495-3.852 6.084-3.852z"}
    %path{:d => "M9.098 17.179v-3.985"}
    %path{:d => "M6.977 15.24s.237 2.347 2.079 2.347l2.082-2.347"}
    %path{:d => "M28.482 3.078v3", "stroke-width" => "2"}
    %path{:d => "M31.565-.005v5.917", "stroke-width" => "2"}
    %path{:d => "M34.607 2.162v3.583", "stroke-width" => "2"}