%svg{"enable-background" => "new 0.5 0 50 27", :height => "27", :viewBox => "0.5 0 50 27", :width => "50", :xmlns => "http://www.w3.org/2000/svg", "xmlns:sketch" => "http://www.bohemiancoding.com/sketch/ns"}
  %title ferry
  %desc Created with Sketch.
  %g{:fill => "none", "sketch:type" => "MSShapeGroup", :stroke => "#231F20", "stroke-linejoin" => "round"}
    %path{:d => "M46.119 25h-36.09c-5.187-2.961-7.438-5.975-7.438-5.975h6.94l2.867-3.926 1.249-.004 4.015-5.097 1.754-.017 1.173-3.004 9.911-.014 2 2.996 7.486-.007 4.911 9.073s2.395.026 3.639 0l-2.417 5.975z", "stroke-width" => "2"}
    %path{:d => "M29.531 18.5h2.907"}
    %path{:d => "M34.531 18.5h2.938"}
    %path{:d => "M39.531 18.5h2.938"}
    %path{:d => "M14.531 18.5h2.907"}
    %path{:d => "M19.531 18.5h2.938"}
    %path{:d => "M24.531 18.5h2.938"}
    %path{:d => "M27.531 13.5h2.907"}
    %path{:d => "M32.531 13.5h2.938"}
    %path{:d => "M37.531 13.5h2.938"}
    %path{:d => "M17.531 13.5h2.938"}
    %path{:d => "M22.531 13.5h2.938"}
    %path{:d => "M22.531 9.594h2.938"}
    %path{:d => "M13.333 15.417h29.167"}
    %path{:d => "M9.875 19.417h37.625"}
    %path{:d => "M28.5 7.125h-5l2-6.125h3v6.125z", "stroke-width" => "2"}
    %path{:d => "M10 21.062v.813"}
    %path{:d => "M38.5 3v7", "stroke-width" => "2"}
    %path{:d => "M34.5 3v7", "stroke-width" => "2"}