%svg{"enable-background" => "new 0.5 0 48 35", :height => "35", :viewBox => "0.5 0 48 35", :width => "48", :xmlns => "http://www.w3.org/2000/svg", "xmlns:sketch" => "http://www.bohemiancoding.com/sketch/ns"}
  %title kayak
  %desc Created with Sketch.
  %g{:fill => "none", "sketch:type" => "MSShapeGroup", :stroke => "#231F20", :transform => "translate(-665 -71) translate(666 73)"}
    %ellipse{:cx => "23.5", :cy => "15", :rx => "23", :ry => "6", "stroke-width" => "2"}
    %ellipse{:cx => "22.989", :cy => "15.016", :rx => "9.114", :ry => "3.578"}
    %path{:d => "M7.917 13.031v3.916"}
    %path{:d => "M10 13.197v3.75"}
    %path{:d => "M37.917 13.009v3.959"}
    %path{:d => "M40 13.009v3.959"}
    %path{:d => "M37.767 3.418c-1.064 1.06-5.058 3.407-6.066 2.404-1.008-1.004 1.353-4.977 2.416-6.034 1.064-1.06 2.745-1.105 3.753-.103 1.009 1.002.961 2.674-.103 3.733z", "stroke-width" => "2"}
    %path{:d => "M7.327 27.579c1.047-1.046 4.973-3.351 5.972-2.347 1.003 1.006-1.299 4.937-2.342 5.982-1.043 1.046-2.702 1.08-3.702.076-1.005-1.004-.972-2.665.072-3.711z", "stroke-width" => "2"}
    %path{:d => "M32.458 4.917l-20.792 21.959"}