%svg{"enable-background" => "new 0.5 0 48 29", :height => "29", :viewBox => "0.5 0 48 29", :width => "48", :xmlns => "http://www.w3.org/2000/svg"}
  %circle{:cx => "38.5", :cy => "20.964", :fill => "none", :r => "7", :stroke => "#231F20", "stroke-linejoin" => "round", "stroke-width" => "2"}
  %circle{:cx => "8.459", :cy => "21.005", :fill => "none", :r => "6.959", :stroke => "#231F20", "stroke-linejoin" => "round", "stroke-width" => "2"}
  %path{:d => "M19.5 3l-3-2-7.582 19.964", :fill => "none", :stroke => "#231F20", "stroke-linejoin" => "round", "stroke-width" => "2"}
  %circle{:cx => "8.459", :cy => "21.005", :fill => "none", :r => "1.541", :stroke => "#231F20", "stroke-linejoin" => "round"}
  %circle{:cx => "38.5", :cy => "21.005", :fill => "none", :r => "1.541", :stroke => "#231F20", "stroke-linejoin" => "round"}
  %path{:d => "M13.5 7.03c0 .536-.447.97-1 .97h-2c-.553 0-1-.434-1-.97v-2.061c0-.536.447-.97 1-.97h3c.553 0 1 .434 1 .97l-1 2.061z", :fill => "none", :stroke => "#231F20", "stroke-linejoin" => "round", "stroke-width" => "2"}
  %path{:d => "M23.5 12.059c0 .521-.442.941-.988.941h-9.022c-.546 0-.988-.421-.988-.941l.967-4.117c0-.52.989-.941.989-.941 6.669 0 8.056 2 8.056 2 .546 0 .988.422.988.94l-.002 2.118z", :fill => "none", :stroke => "#231F20", "stroke-linejoin" => "round", "stroke-width" => "2"}
  %path{:d => "M23.479 12.031c-.026-.52.428-1.002.973-1.031h9.048s0-1 5.125-1c7.625 0 8.188 6 9.875 6", :fill => "none", :stroke => "#231F20", "stroke-linejoin" => "round", "stroke-width" => "2"}
  %path{:d => "M19.516 18.1c-2.739-2-3.891-4.854-3.891-4.975", :fill => "none", :stroke => "#231F20", "stroke-linejoin" => "round", "stroke-width" => "2"}
  %path{:d => "M25.5 21.031l13.459-.036", :fill => "none", :stroke => "#231F20", "stroke-linejoin" => "round", "stroke-width" => "2"}
  %ellipse{:cx => "22.479", :cy => "21.005", :fill => "none", :rx => "3.979", :ry => "2.958", :stroke => "#231F20", "stroke-linejoin" => "round", "stroke-width" => "2"}
  %path{:d => "M26.562 20.125l5.938-9.063", :fill => "none", :stroke => "#231F20", "stroke-linejoin" => "round", "stroke-width" => "2"}