%svg{"enable-background" => "new 0 -0.5 37 48", :height => "48", :viewBox => "0 -0.5 37 48", :width => "37", :xmlns => "http://www.w3.org/2000/svg", "xmlns:sketch" => "http://www.bohemiancoding.com/sketch/ns"}
  %title MRT
  %desc Created with Sketch.
  %g{:fill => "none", "sketch:type" => "MSShapeGroup", :stroke => "#231F20"}
    %path{:d => "M18.472 1.5c-9.622 0-17.425 3.901-17.425 8.712v18.03c0 .963-.696 5.318 4.53 5.318h25.788c4.617 0 4.529-4.355 4.529-5.318v-18.03c.002-4.811-7.801-8.712-17.422-8.712z", "stroke-width" => "2"}
    %path{:d => "M8.017 33.561l-2.017 13.939", "stroke-width" => "2"}
    %path{:d => "M28.926 33.561l2.074 13.939", "stroke-width" => "2"}
    %path{:d => "M12.199 37.411h12.795", "stroke-width" => "2"}
    %path{:d => "M12.199 43.443h12.795", "stroke-width" => "2"}
    %path{:d => "M5.229 28.485h6.646", "stroke-width" => "2"}
    %path{:d => "M25.125 28.485h6.875", "stroke-width" => "2"}
    %path{:d => "M32.504 12.145v7.396c0 4.916-1.879 5.459-14.061 5.458-12.051 0-14.062-.625-14.062-5.458v-7.396c0-6.145 6.294-5.024 14.062-5.024 7.766 0 14.061-1.496 14.061 5.024z"}
    %path{:d => "M15.161 5.903h6.621"}