%svg{"enable-background" => "new 0.5 -0.5 50 28", :height => "28", :viewBox => "0.5 -0.5 50 28", :width => "50", :xmlns => "http://www.w3.org/2000/svg", "xmlns:sketch" => "http://www.bohemiancoding.com/sketch/ns"}
  %title taxi
  %desc Created with Sketch.
  %g{:fill => "none", "sketch:type" => "MSShapeGroup", :stroke => "#231F20", "stroke-linejoin" => "round"}
    %g{:transform => "translate(2 4)"}
      %ellipse{:cx => "37.006", :cy => "18.005", :rx => "4.506", :ry => "4.537", "stroke-width" => "2"}
      %ellipse{:cx => "11.006", :cy => "18.005", :rx => "4.506", :ry => "4.522", "stroke-width" => "2"}
      %path{:d => "M41.389 18.417h5.111l-1.46-8.62-5.111-1.437-5.842-7.902h-16.794l-7.301 7.902-8.498 2.015-.994 8.042h5.841", "stroke-width" => "2"}
      %path{:d => "M15.373 18.569h17.204", "stroke-width" => "2"}
      %path{:d => "M22.542 11.017h1.938"}
      %path{:d => "M33.5 11.017h1.929"}
      %path{:d => "M1.23 14.921h6.27"}
      %path{:d => "M40.659 14.97h4.841"}
    %path{:d => "M25.896 12.917h-8.896l4-4.974h4.896v4.974z"}
    %path{:d => "M29 13.083h8.125l-3.125-5.094h-5v5.094z"}
    %path{:d => "M23.583 4.67v-3.083h8v3.083", "stroke-width" => "2"}
    %path{:d => "M21.542 17.524h1.875", "stroke-width" => "2"}
    %path{:d => "M23.542 19.524h1.875", "stroke-width" => "2"}
    %path{:d => "M25.542 17.524h1.875", "stroke-width" => "2"}
    %path{:d => "M27.542 19.524h1.875", "stroke-width" => "2"}
    %path{:d => "M29.542 17.524h1.875", "stroke-width" => "2"}