%svg{"enable-background" => "new 0 -0.5 31 46", :height => "46", :viewBox => "0 -0.5 31 46", :width => "31", :xmlns => "http://www.w3.org/2000/svg", "xmlns:sketch" => "http://www.bohemiancoding.com/sketch/ns"}
  %title walking
  %desc Created with Sketch.
  %g{:fill => "none", "sketch:type" => "MSShapeGroup", :stroke => "#231F20", "stroke-width" => "2", :transform => "translate(-905 -51) translate(906 52)"}
    %ellipse{:cx => "11.959", :cy => "3.49", :rx => "3.959", :ry => "3.99"}
    %path{:d => "M28.624 39.981c-.369-.484-7.333-9.045-7.333-9.045l-3.178-8.918-1.065-8.049 1.578.113 3.151 4.884s.964 1.616 2.25.812c1-.625 1.264-1.468.474-2.821-.789-1.353-3.796-6.355-3.796-6.355s-.172-.323-.871-.686c-.712-.369-2.082-.59-3.916-1l-4.918 1.334-4.247 3.618-4.004-3.65s-1.297-.531-2.062.235c-.768.767-.768 1.887-.061 2.593.707.708 6.374 6.204 6.374 6.204l3.407-2.472.592 4.284-6.857 18.815s-.985 2.279 1.438 3.375c1.938.876 2.839-.75 3.42-2l5.062-11.19 2.547 4.502s7.507 7.295 8.334 8.122c.825.828 2.112 1.217 3.23.227 1.234-1.094.82-2.448.451-2.932z", "stroke-linejoin" => "round"}