%svg.animated_checkmark{"enable-background" => "new 0 0 50 50", :height => "50px", :space => "preserve", :version => "1.1", :viewBox => "0 0 50 50", :width => "50px", :x => "0px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:xlink" => "http://www.w3.org/1999/xlink", :y => "0px"}
  %polyline{:fill => "none", :points => "2.247,26.864 16.715,41.332 47.528,10.518 ", :stroke => "#00A651", "stroke-miterlimit" => "10"}
