- if tours.present?
  .footer-results.small-12.column
    = paginate tours, remote: true
  .listings-container
    .row
      - tours.each do |tour|
        = render 'search/tour', tour: tour

  .footer-results.small-12.column
    = paginate tours, remote: true
