%ul.breadcrumbs
  %li
    = link_to "Profile", users_path, remote: true
  %li
    = link_to "Personal", profile_information_users_path, remote: true
  %li
    = link_to "Trust and Verifications", verifications_users_path, remote: true
  %li
    = link_to "Availability", availability_users_path, remote: true
