.space-4#references.references
  %h2.block-title
    References
    %small= "(#{user.total_references})"
  .references-list
    .row.text-center-sm.item
      .col-xs-12.col-sm-4.col-lg-2
        .avatar-wrapper.text-center
          .media-photo.media-round
            %a{:href => "#", :title => "Peter"}
              %img{:src => "/uploads/tour/images/199/533f11a0-c234-4530-8217-1ec5f14d9c5f.jpg"}
          .profile-name
            %a{:href => "#", :title => "Peter"} Peter
      .col-xs-12.col-sm-8.col-lg-10
        .comment-container
          I have known James for over 10 years. I have stayed at his properties both in London and in Spain and can highly recommend him as Airbnb host and his fantastic homes.
        .date.text-gray
          August 2012
        .relationship.text-right
          Peter is a Friend
    .row.line-separation
      .col-xs-12.col-sm-4.col-lg-2
      .col-xs-12.col-sm-8.col-lg-10
        %hr
