.space-6
  .block.block-wishlist
    .block-title
      Wishlist
      %small (3)
    .block-content
      .row
        .col-sm-4
          .media-photo.wishlist-item
            .media-cover.text-center.media-cover-dark
              %a{:href => "#", :title => "Holiday Places"}
                %img{:src => "/uploads/country/scene_images/174/small_philippines.jpg"}
            .row-table.media-caption
              .small-12.column.col-middle.text-center
                %h2 Holiday Places
                %a.button.btn-guest{:href => "#", :title => "11 Listings"} 11 Listings
        .col-sm-4
          .media-photo.wishlist-item
            .media-cover.text-center.media-cover-dark
              %a{:href => "#", :title => "New York"}
                %img{:src => "/uploads/country/scene_images/124/small_laos.jpg"}
            .row-table.media-caption
              .small-12.column.col-middle.text-center
                %h2 New York
                %a.button.btn-guest{:href => "#", :title => "11 Listings"} 3 Listings
        .col-sm-4
          .media-photo.wishlist-item
            .media-cover.text-center.media-cover-dark
              %a{:href => "#", :title => "Spain"}
                %img{:src => "/uploads/country/scene_images/19/small_bangladesh.jpg"}
            .row-table.media-caption
              .small-12.column.col-middle.text-center
                %h2 Spain
                %a.button.btn-guest{:href => "#", :title => "11 Listings"} 5 Listings