- if tours.present?
  .listings-container
    .row
      - tours.each do |tour|
        .small-4.column
          = render 'shared/tour', tour: tour

  .footer-results{style: 'padding-left: 40px;'}
    = paginate tours, remote: true
