- content_for(:title, "About TourMega")

#what-is.white-bg
  .row.wide
    .small-12.large-6.large-push-6.columns.picture{ style: "background-image: url('/assets/AboutUs1.jpg');background-position: 50% 30%" }
    .small-12.large-6.large-pull-6.columns.guide.content
      %h3.header What is TourMega?
      %p TourMega is a tours search engine and marketplace that connects travelers with tours and guides around the world.

#what-we-offer.light-grey-bg
  .row
    .small-12.small-centered.large-9.columns.content.text-center
      %h3.header Our Mission
      %p As a search engine, aggregator and price comparison tool for tours and activities around the world, TourMega's mission is to centralize a fragmented market and make the search and booking process easy for travelers while providing a global reach to local tour guides and operators.

.about-us-text.white-bg
  .row.wide
    .small-12.large-6.columns.content
      .row
        .medium-6.columns
          .info-panel.panel.white-bg
            .row.row-condensed
              .col-sm-3.text-center
                %i.icon.fa.fa-group
              .col-sm-9.small-only-text-center
                .h6.row-space-top-2.row-space-1 Tour Guides
                .h2 1,000+
        .medium-6.columns
          .info-panel.panel.white-bg
            .row.row-condensed
              .col-sm-3.text-center
                %i.icon.fa.fa-home
              .col-sm-9.small-only-text-center
                .h6.row-space-top-2.row-space-1 Cities
                .h2 200+
      .row
        .medium-6.columns
          .info-panel.panel.white-bg
            .row.row-condensed
              .col-sm-3.text-center
                %i.icon.fa.fa-university
              .col-sm-9.small-only-text-center
                .h6.row-space-top-2.row-space-1 Experiences
                .h2 400+
        .medium-6.columns
          .info-panel.panel.white-bg
            .row.row-condensed
              .col-sm-3.text-center
                %i.icon.fa.fa-globe
              .col-sm-9.small-only-text-center
                .h6.row-space-top-2.row-space-1 Countries
                .h2 20+
    .small-12.large-6.columns.content
      %h3.header About Us
      %p TourMega was founded in May 2016 and is based in California's Silicon Valley.  It was created by a group of passionate travelers who love to change the way people travel.


:javascript
  $(function(){
    $('.about-path>a').addClass('current');
  });
