%section.main-section
  #terms-of-service.white-bg
    .row
      .small-8.small-push-2.columns.space-bottom
        %h2.text-left TourMega Privacy Policy
        %h4.text-left.space-bottom Last Updated: May 1, 2016
        %p
          Welcome to the web site (the “Site”) of TourMega, Inc. (“TourMega, “we”, “us” and/or “our”). This Site is operated by TourMega and has been created to provide information about our company and its community marketplace for local activities, and experiences (the “Services”) to our users (“you”, “your”). This Privacy Policy sets forth TourMega policy with respect to information including personally identifiable data (“Personal Data”) and other information that is collected from Site visitors and users of the Services.
        %h4
          How do we collect and use information?
        %p
          When you interact with us through the Site or the Services, we may collect Personal Data and other information from you, as further described below:
        %p
          %u> Account Information
          \.
          Personal Data That You Provide Through the Site: We collect Personal Data from you when you voluntarily provide such information (i.e. when you register for access to the Services, use certain Services, contact us with inquiries or respond to one of our surveys). For example, we collect contact information, location, payment information, and other information that you provide to us. Whenever TourMega collects Personal Data we make an effort to provide a link to this Privacy Policy.
          By voluntarily providing us with Personal Data, you are consenting to our use of it in accordance with this Privacy Policy. If you provide Personal Data, you acknowledge and agree that such Personal Data may be transferred from your current location to the offices and servers of TourMega and the authorized third parties referred to herein located in the United States.
        %p
          %u> Information Collected Using Cookies and other Web Technologies
          \.
          Like many website owners, we use
          automated data collection tools such as Cookies and Web Beacons to collect certain information.
          (“
          %strong> Cookies
          ”)
          are small text files that are placed on your hard drive by a Web server when you access our Services. We
          may use both session Cookies and persistent Cookies to identify that you’ve logged in to the Services and to
          tell us how and when you interact with our Services. We may also use Cookies to monitor aggregate usage
          and web traffic routing on our Services and to customize and improve our Services. Unlike persistent
          Cookies, session Cookies are deleted when you log off from the Services and close your browser. Although
          most browsers automatically accept Cookies, you can change your browser options to stop automatically
          accepting Cookies or to prompt you before accepting Cookies. Please note, however, that if you don’t
          accept Cookies, you may not be able to access all portions or features of the Services. Some third-party
          services providers that we engage (including third-party advertisers) may also place their own Cookies on
          your hard drive. Note that this Privacy Policy covers only our use of Cookies and does not include use of
          Cookies by such third parties.
        %p
          %u> Information Related to Use of the Services
          \.
          Our servers automatically record certain information about how
          a person uses our Services (we refer to this information as
          “
          %strong> Log Data
          ”),
          including both Account holders and
          non-Account holders (either, a
          “
          %strong> User
          ”).
          Log Data may include information such as a User’s Internet Protocol
          (IP) address, browser type, operating system, the web page that a User was visiting before accessing our
          Services, the pages or features of our Services to which a User browsed and the time spent on those pages
          or features, the links on our Services that a User clicked on and other statistics. We use this information to
          administer the Services and we analyze (and may engage third parties to analyze) this information to
          improve and enhance the Services by expanding their features and functionality and tailoring them to our
          Users’ needs and preferences. We may use a person’s IP address to fight spam, malware and identity theft.
          We also use the IP Address to generate aggregate, non-identifying information about how our Services are
          used.
        %p
          %u> Location Information
          \.
          In some cases we collect and store information about where you are located, if you
          permit us to do so. We may use location information to improve and personalize our Services for you.
        %h4
          What Information Do We Share With Third Parties?
        %p
          We will not share any PII that we have collected from you except as described below:
        %p
          %u> Information Shared with other Account Holders
          \:
          Each Traveler and their applicable Guide will, upon receipt
          of a confirmation of Confirmed Booking, be made aware of each other’s respective identity and contact
          information. This means that if you are a Traveler, we will share your name and email address with the
          Guide, and we may share your telephone number with the Guide, and if you are a Guide, we will share your
          name, home address, and email address with the Traveler, and we may share your telephone number with
          the Traveler.
        %p
          %u> Information Shared with Our Services Providers
          \.
          We may engage third party service providers to work with
          us to administer and provide the Services. These third-party services providers have access to your PII only
          for the purpose of performing services on our behalf and are expressly obligated not to disclose or use your
          PII for any other purpose.
        %p
          %u> Information Shared with Our Partners
          \.
          We may work with partners that operate guided tour services in
          locations in which we offer our Services. Such partners will promote our Services, and we may share
          information about Guides located in those locations to allow these partners to make tour bookings. We will
          not share any information about Travelers with such partners.
        %p
          %u> Information Shared with Third Parties
          \.
          We may share aggregated information and non-identifying
          information with third parties for industry research and analysis, demographic profiling and other similar
          purposes.
        %p
          %u> Information Disclosed in Connection with Business Transactions
          \.
          Information that we collect from our
          users, including PII, is considered to be a business asset. As a result, if we go out of business or enter
          bankruptcy or if we are acquired as a result of a transaction such as a merger, acquisition or asset sale, your
          PII may be disclosed or transferred to the third-party acquirer in connection with the transaction.
          Information Disclosed for Our Protection and the Protection of Others. We cooperate with government and
          law enforcement officials or private parties to enforce and comply with the law. We may disclose any
          information about you to government or law enforcement officials or private parties as we, in our sole
          discretion, believe necessary or appropriate: (i) to respond to claims, legal process (including subpoenas);
          (ii) to protect our property, rights and safety and the property, rights and safety of a third party or the
          public in general; and (iii) to stop any activity that we consider illegal, unethical or legally actionable
          activity.
        %h4
          The Security of Your Information
        %p
          We take reasonable measures to protect the information that we collect from or about you (including your
          PII) from unauthorized access, use or disclosure. For example, all exchanges of payment information
          through the Services will be encrypted and transmitted over a secured connection, and all passwords will
          be encrypted and stored in our database. Please be aware, however, that no method of transmitting
          information over the Internet or storing information is completely secure. Accordingly, we cannot
          guarantee the absolute security of any information. [Under review by TourMega technical team.]
        %h4
          Links to Other Sites
        %p
          Our Services may contain links to other websites and services. Any information that you provide on or to a
          third-party website or service is provided directly to the owner of the website or service and is subject to
          that party's privacy policy. Our Privacy Policy does not apply to such websites or services and we’re not
          responsible for the content, privacy or security practices and policies of those websites or services. To
          protect your information we recommend that you carefully review the privacy policies of other websites
          and services that you access.
        %h4
          Modifying Your Information
        %p
          You can access and modify the PII associated with your Account through the profile page in your Account. If
          you want to delete your PII and your Account, you can do so through the Settings page in your Account, or
          you can contact us at support@tourmega.com with your request. We’ll take steps to delete your
          information as soon as is practicable, but some information may remain in archived/backup copies for our
          records or as otherwise required by law.
        %h4
          Opting Out
        %p
          If you do not wish to receive promotional emails, newsletter notifications, or other communications from
          us, please follow the unsubscribe instructions provided in any of the communications.
          International Transfer
          Your PII may be transferred to, and maintained on, computers located outside of your state, province,
          country or other governmental jurisdiction where the privacy laws may not be as protective as those in
          your jurisdiction. If you’re located outside the United States and choose to provide your PII to us, we may
          transfer your PII to the United States and process it there.
        %h4
          Our Policy Toward Children
        %p
          Our Services are not directed to children under 13 and we do not knowingly collect PII from children under
          13. If we learn that we have collected PII of a child under 13 we will take steps to delete such information
          from our files as soon as possible.
        %h4
          Questions?
        %p
          Please contact us at
          %a{:href => "mailto:privacy@tourmega.com"} privacy@tourmega.com
          if you have any questions about our Privacy Policy.
