- content_for(:title, "Trust and Safety on TourMega")

%section.main-section
  #host-page
    #hero{"background-image" => "https://d26oxw2p26xsun.cloudfront.net/assets/hero/about-c371bb10b02be473546f55b6d925abe2.jpg"}
      .message
        .row
          .small-12.small-centered.medium-10.large-8.columns.text-center
            %h1.larger= "Trust and Safety"
    #what-they-are.light-grey-bg
      .row.wide
        .small-12.large-8.large-centered.columns.content.text-center
          %h4 TourMega is committed to providing a safe and secure environment for travelers and tour guides alike. As such, we have the following measures embedded in the platform to protect those using TourMega’s services.

    #safety-feedback.white-bg
      .row.wide.collapse
        .small-12.large-4.columns
          .row
            .small-12.medium-6.large-11.columns.content.short
              %h4.space-bottom
                %i.fa.fa-cc-stripe
                Secure Payments
              %p To ensure privacy and security when booking online, all transactions are encrypted and secure.  We do not store any of our customer's financial data on our platform. We utilize the secure Stripe platform which can process payments from anywhere in the world.

        .small-12.large-4.columns.middle-border
          .row
            .small-12.medium-6.large-11.columns.content.short
              %h4.space-bottom
                %i.fa.fa-certificate
                Verified Guides and Operators
              %p TourMega requires tour guides and operators submit to a verification process prior to posting on the platform. Verifications include the following: government ID, text, and social media verifications such as Linkedin, Facebook and Twitter. Each guide or operator must have at least two verifications in order to receive approval to post on TourMega.

        .small-12.large-4.columns
          .row
            .small-12.medium-6.large-11.columns.content.short
              %h4.space-bottom
                %i.fa.fa-comments
                Peer Reviews
              %p Peer reviews are an important tool that allow travelers to provide an honest assessment of the tour guides and experiences. After each tour or activity, travelers are given the option to rank their experience and provide both public and private feedback. Both types of feedback are used to ensure the experiences meet the high standards TourMega expects and will be used to determine which tours and activities are allowed on the platform.

    #host-faqs.photo-bg{ style: "background-image: url(#{t('become_guide.guide_photo_bg')}); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;" }
      .row
        .small-12.columns.content.text-center
          %h3{style: 'font-weight: 700;'} Your experience and creativity are the only limits
