%section.main-section
  #terms-of-service.white-bg
    .row
      .small-8.small-push-2.columns.space-bottom
        %h2 Terms of service
        %h4.text-left.space-bottom Last Updated: May 1, 2016
        %p
          Welcome to TourMega! You are now reading our Terms of Service (“Terms”), an agreement between you and
          TourMega, Inc. (“TourMega”), for your use of our online platform and service, which connects travelers with
          local, authentic experiences in people’s homes around the world. The platform and service are available at
          %a{:href => "root_url"} here.
        %p
          To make these Terms easier to read, our online platform and service and the Site are called the “Services.” You should
          read the Terms carefully before you use the Services – we’ve tried to be straightforward and if you have any questions
          feel free to send us a note at
          %a{:href => "mailto:lovers@tourmega.com"} support@tourmega.com
          \.
          We want you to feel comfortable using the Services and will happily answer any questions you have.
        %h4
          What’s With The Defined Terms?
        %p
          You’ll notice that some words appear in quotes in the Terms. They’re called “defined terms,” and we use them so we
          don’t have to repeat the same language again and again, and to make sure that the Terms are consistent. We’ve
          included the defined terms throughout because we want it to be easy for you to read them in context.
        %h4
          Important! TourMega is a Platform Service Provider
        %p
          One thing we want to make clear up front is that, through the Services, TourMega offers an online platform to allow
          Hosts and Travelers to connect. Your safety (and satisfaction) is our top priority. Although our goal is to make your
          experience as seamless and delicious as possible and we have done our best to vet each of our Hosts for quality, you
          acknowledge and agree that TourMega’s responsibilities under these Terms are limited solely to facilitating the
          availability of the Services, serving as the limited payment agent of each Host, processing refunds to Travelers, and
          holding and administering payments as a trustee on behalf of Hosts and Travelers. More on this below.
        %p
          A “Host” is a Member who offers and provides a Experience.
        %p
          A “Traveler” is a Member who requests a booking of a Experience via the Services, or a Member who partakes in
          a Experience.
        %p
          A “Experience” is a customized dining experience provided by a Host to a Traveler, and might include a meal,
          cooking class, or market tour, which is available for purchase by Travelers via the Services.
        %p
          Your access to the Site and use of the Services is at your own risk and TourMega disclaims all warranties, express
          or implied, and limits its liability in these Terms. You’ll see that we’ve included a disclaimer towards the end of these
          Terms. If, during your Experience, or through your use of the Services, you’re subjected to behavior you believe
          is offensive, threatening, dangerous or otherwise illegal, or if you suspect theft of, or damage to, your property or personal belongings, you should immediately contact the appropriate local authorities or safety emergency agency (calling 911 in
          the U.S. or a similar local public emergency safety agency). TourMega isn’t able to provide or arrange for local
          emergency services.
        %h4
          Agreement Between You And TourMega
        %h6
          Agreeing to our Terms
        %p
          By accessing the Site or using our Services you agree to be bound by these Terms, whether or not you have registered
          with the Services. If you don’t agree, then you shouldn’t, and in fact aren’t permitted to, use the Services. If you are
          accessing and using the Services on behalf of a company (such as your employer) or other legal entity, you represent and
          warrant that you have the authority to bind that company or other legal entity to these Terms. In that case, “you” and
          “your” will refer to that company or other legal entity.
        %p
          Certain areas of the Site or features of the Services may have additional terms and you should read those additional
          terms. If there’s a conflict between these Terms and the additional terms, the additional terms will govern your use of
          those areas of the Site or features of the Services.
        %h6
          Changes to Terms or Services
        %p
          We can change the Terms at any time. If we do so, we’ll let you know either by posting the changed Terms on the Site or
          through other communications. We’ll also update the “Last Updated Date” at the top of these Terms. It’s important that
          you review the changed Terms because if you continue to use the Services after we’ve let you know that they’ve been
          changed, you’re telling us that you agree to be bound by the changed Terms. If you don’t agree to be bound by the
          changed Terms then you’re not allowed to use the Services anymore – sorry! We’re always striving to make the Services
          better and because they’re evolving over time we may change or discontinue all or any part of the Services, at any time
          and without notice, at our discretion. As an example, we might stop providing a feature that our users don’t like or use
          very often.
        %h6
          Using the Services
        %p
          You can only use the Services if you are 18 years or older and are not barred from using the Services under applicable
          law. In addition, you’re only allowed to become a Member in order to offer and provide a Experience as a Host
          and to search for and book Experiences as a Traveler. e.g., You can’t become a Member to try to collect
          information about other Members, or to contact other Members for other purposes.
        %p
          If you want to use certain features of the Services you’ll need to create an account with a username and password (an
          “Account”) and become a “Member”. You can do this via our Site or through your account with certain third-party social
          networking services such as Facebook (an “SNS Account”). If you choose the SNS Account option we’ll create your
          Account by extracting from your SNS Account certain personal information such as your name and email address and
          other personal information that your privacy settings on the SNS Account permit us to access.
        %p
          It’s important that you provide us with accurate and complete information and you promise to keep your Account
          information up to date. If you don’t, we might have to suspend or terminate your Account. You agree not to share your
          password and you’ll let us know if there is any unauthorized use of your Account. You’re responsible for all activities that
          occur under your Account and you’ll immediately tell us about any unauthorized use of your Account.
        %h6
          Privacy Policy
        %p
          Please refer to our Privacy Policy
          (
          %a{:href => "/privacy-policy"}> www.tourmega.com/privacy
          )
          for information about how we collect, use and
          disclose information from our users.
        %h6
          Featured Hosts and Member Testimonials
        %p
          From time to time, we may feature certain Hosts on our Site (each, a “Featured Host”) in order to highlight the types of
          Experiences they offer. We also post Members’ reviews of their Experiences through the Services. We
          do this so that other users (both potential Hosts and potential Travelers) can get a flavor for what their own experiences
          might be like through the Services. We don’t endorse any Members. We don’t have an obligation to conduct background
          checks on any Member, but we might do so on a discretionary basis. We’re not responsible for any damage or harm
          resulting from your communications or interactions with other Members. By using the Services you agree that any legal
          remedy or liability that you seek to obtain for actions or omissions of other Members or other third parties will be limited to
          a claim against the particular Members or other third parties who caused you harm and you agree not to attempt to
          impose liability on TourMega, or seek any legal remedy from TourMega with respect to such actions or
          omissions.
        %h4
          What if I’m a Host?
        %p
          Through the Services, Travelers traveling (or planning to travel) the world and who are interested in an authentic home
          dining experience in a location in which we operate can complete our online reservation form (“Reservation Form”) to let
          us know when and where they are traveling, and their preferences for a customized dining experience. For example, our
          Reservation Form will prompt a Traveler for information such as his name, contact information, location and dates of
          travel, the number and names of his guests that will be accompanying him, his dietary restrictions and his food
          preferences. We will also collect additional information that we have heard from our Hosts is helpful, such as whether or
          not Travelers are traveling on a special occasion (like a honeymoon!). Additionally, such Traveler can choose whether his
          dining experience will comprise: (i) a home cooked meal, (ii) a meal plus a cooking class, or (iii) a meal, cooking class,
          and local market tour. We’ll use this information to find and match such Traveler with a Host in our Host network willing
          to provide a Experience matching the Traveler’s parameters. You will be notified if there is a match and asked to
          confirm your availability. At this time you will be able to see the date of request and information about the Traveler(s). If
          you confirm your availability, we will notify the Traveler. If the Traveler likes your Itinerary and confirms and pays for the
          Experience, we’ll notify you of the confirmed booking request through the Services.
        %p
          Alternatively, if you are a Featured Host, Travelers can explore the different Experiences you offer directly via the
          Site without having to be matched with you through the Services. If a Traveler wants to book a Featured Host’s Culinary
          Experience, he’ll let us know through the Services, and we’ll notify him of the final pricing to be charged via an Itinerary. If
          the Traveler wants to book that Experience, we’ll notify you of his request through the Services.
        %h6
          Contract with Travelers
        %p
          You understand and agree that TourMega doesn’t act as your insurer, broker, contracting agent or other
          representative, other than as noted under “How Do I Get Paid? Appointment Of TourMega As Payment Agent” and
          “Payment And Administration Of Member Funds” below. If a Traveler books your Experience, any contract that
          you enter into with the Traveler, written or oral, will be between you and the Traveler only. While we’ll use reasonable
          efforts in our sole discretion to help you in your dealings with Travelers to make the experience between you and
          Travelers as enjoyable as possible, you, and not TourMega, will be responsible for performing the obligations of any
          contracts with the Travelers, and TourMega will not be liable in connection with such contracts.
        %h6
          Booking Terms
        %p
          When a booking is requested for your Experience, you must confirm or reject the request within 24 hours of the
          time the booking was requested. Otherwise, the request may be automatically rejected. The time of the booking request
          will be tracked via the Services. If you confirm, TourMega will send the Traveler who requested the booking a
          notice (email acceptable) of the booking. The Traveler will have up to ten (10) days to confirm this booking and complete
          payment via the Services; once a Traveler confirms a booking via the Services, the Traveler and the Host will be sent
          notification of the confirmed Experience (a “Confirmed Booking”). Once a Traveler requests a booking, the price
          for the booking cannot be changed.
        %h6
          What Can I Charge, When Do I Get Paid And How Much Do I Pay to TourMega?
        %p
          As a Host, you, not TourMega, decide what to charge Travelers for a Experience (the “Experience
          Fees”). We will mark up the Experience Fees at our sole discretion (the amount of such mark up to be referred
          to as the “Mark Up”). The Experience Fees plus any Mark Up (the “Total Experience Fees”) will be
          included in each Itinerary, so that a Traveler is aware of the cost prior to requesting a booking. Travelers have to pay the
          Total Experience Fees in advance. Where applicable, TourMega may charge Taxes in addition to the Mark
          Up. TourMega will deduct its Mark Up and applicable Taxes from the Total Experience Fees before
          remitting the remaining funds to you. TourMega will use commercially reasonable efforts to remit funds to you via
          PayPal, Xoom, direct deposit or other payment methods described on our Site, in your local currency, within three (3)
          business days following the date of the Traveler’s arrival at your location, as indicated in the Confirmed Booking
          confirmation documentation. TourMega will bear any foreign currency processing and conversion costs incurred in
          order to pay you in your local currency. That said, we may delay payment to you in cases where we suspect fraud or
          other misuse of the Services. The amount of time it takes for you to receive your funds will vary depending on the
          payment method you select.
        %p
          As a Host, you are responsible for honoring your commitment to each Traveler for any Confirmed Bookings. In the event
          of a cancellation by you, or in the event that the experience is not provided as described in the Itinerary, TourMega
          reserves the right to remove you from our community of Hosts. Additionally, TourMega may charge you an
          additional fee (up to the amount of the fees paid to you by TourMega for the booking in question) if you cancel a
          Confirmed Booking, if your Experience is not as described in the Itinerary, or if the Traveler cancels a Confirmed
          Booking for cause based on applicable law.
        %h6
          How Do I Get paid? Appointment Of TourMega As Payment Agent
        %p
          Travelers will pay TourMega directly via the Services, and as a Host you hereby appoint TourMega as your
          limited agent solely for the purpose of collecting payments made by Travelers on your behalf when such payments are
          earned by you. Such funds will be paid into and held by TourMega in a segregated trust account and Traveling
          Spoon will administer such funds as the trustee of such account. Please see “Payment and Administration Of Member
          Funds” below. You agree that payment for Total Experience Fees made by a Traveler to TourMega once
          earned will be considered the same as a payment made directly to you as a Host and that you’ll make the Culinary
          Experience available to Traveler as if you had received the Total Experience Fees yourself. In accepting
          appointment as your limited agent, TourMega assumes no liability for any of your acts or omissions.
        %h6
          What’s The Deal With Taxes?
        %p
          As a Host, you have to determine your own Tax reporting and payment requirements. You can do this in consultation with
          a tax advisor if you like. We don’t and can’t offer Tax-related advice to any Members – we leave that to tax experts!
          Please note that each Host is responsible for determining any applicable Taxes on the amounts collected by Traveling
          Spoon on a Host’s behalf. TourMega is not responsible for determining the amount of, or invoicing Travelers for,
          Taxes. “Tax” or “Taxes” mean sales taxes, value added taxes (VAT), goods and services taxes (GST), and other similar
          municipal, state and federal direct, indirect or other withholding and personal or corporate income taxes imposed on
          amounts collected from Travelers. Where applicable, or if a Host asks, TourMega may issue a valid VAT invoice
          to such Host. If TourMega is required by any taxing jurisdiction to pay over Taxes attributable to the amounts
          collected by TourMega for such Host, TourMega will be entitled to pay such amounts to a taxing authority out
          of, and as a reduction in, funds otherwise payable to a Host.
        %h4
          What If I’m A Traveler?
        %h6
          How Much Does It Cost To Book a Experience?
        %p
          As a Traveler, you’ll have to pay the Total Experience Fees (described above) in order to enjoy a Culinary
          Experience. We’ll tell you what the Total Experience Fees will be before you have a Confirmed Booking, which
          may include applicable taxes. On the Site, we provide a price range to give Travelers an indication of the range within
          which particular Experiences fall (including typical price ranges for specific Experiences offered by our
          Featured Hosts). Exact pricing is based on the number of people traveling and the exact service being requested (a meal
          vs. a meal and cooking class, for example). At the time of a booking request, Travelers requesting to book a Host will be
          asked to enter their credit card information to hold their reservation. The credit card will only be charged after the Host has
          confirmed the booking request, and then you the Traveler confirm your booking which prompts payment in full of the Total
          Experience Fees. At that point, your payment obligation to the Host for the Total Experience Fees is
          complete. TourMega accepts all major credit cards which are processed via Stripe’s secure processing system.
        %p
          If you make a request for a booking via the Services, you agree that (a) TourMega may charge your credit card for
          verification, pre-authorization and payment purposes (and such charges are fully effective as payments to the Host,
          because as noted above, TourMega is the payment agent of the Host); (b) you will pay the applicable Total Culinary
          Experience Fees and other charges to TourMega, acting as payment agent of the Host, which funds will be held in
          one or more Customer Accounts (defined under “Payment and Administration Of Member Funds” below) and (c) you
          agree to bear any additional charges that your bank or other financial service provider may levy on you as well as any
          Taxes that may apply to you. You’ll receive a confirmation email once the Confirmed Booking transaction is complete. If
          you have any concerns or objections regarding charges, you agree to raise them first with TourMega and you agree
          not to cancel or reject any credit card charges unless you have made a reasonable attempt at resolving the matter directly
          with TourMega or the Host.
        %h6
          Your Contract With The Host
        %p
          The Hosts, not TourMega, are responsible for honoring any Confirmed Bookings and making the applicable
          Experiences available. You agree to leave the Host’s location upon the completion of your Experience,
          or in the event the Host notifies you that the Host is uncomfortable with your presence in the Host’s location. While we’ll
          use reasonable efforts in our sole discretion to help you in your dealings with Hosts to make the experience between you
          and Hosts as enjoyable as possible, you, and not TourMega, will be responsible for performing the obligations of
          any contracts with the Hosts, and TourMega will not be liable in connection with such contracts.
        %h6
          Claims Under TourMega’s Insurance Policies
        %p
          TourMega may allow a Traveler to make a claim (up to $1000.00 U.S. dollars) under TourMega’s insurance
          policy for medical costs (for example, hospital bills) incurred directly resulting from the Traveler becoming sick as a direct
          result of consuming food prepared as part of a Experience. You agree to cooperate with and assist Traveling
          Spoon in good faith, and to provide TourMega with such information as may be reasonably requested by Traveling
          Spoon in order to facilitate such a claim, including, but not limited to, executing documents and taking such further acts as
          TourMega may reasonably request. If TourMega’s insurance provider decides not to process any such claim,
          TourMega may, in its discretion, reimburse the Traveler for the medical costs outlined in such claim (up to $1000.00
          U.S. dollars).
        %h4
          Dealing With Complaints Or Claims
        %p
          As we’ve mentioned throughout these Terms, we’re going to try to make the experience between Travelers and Hosts as
          enjoyable as possible. If you are a Traveler or a Host and you have an issue with a Host or Traveler (as applicable), we
          encourage you to reach out directly to the other party to resolve such issue, and we’ll use reasonable efforts to help you
          resolve the issue. Both Travelers and Hosts agree to cooperate with and assist TourMega in good faith, and to
          provide TourMega with such information and take such actions as may be reasonably requested by Traveling
          Spoon, in connection with any complaints or claims made by Hosts or Travelers relating to Experiences, relating
          to conduct of Travelers and Hosts, or with respect to any investigation undertaken by TourMega or a representative
          of TourMega regarding use or abuse of the Services. If you are a Traveler or a Host, upon TourMega’s
          reasonable request, and to the extent you are reasonably able to do so, you agree to participate in mediation or similar
          resolution process with a Host or a Traveler, at no cost to you. Any such process will be conducted by TourMega or
          a third party selected by TourMega.
        %h4
          Payment And Administration Of Member Funds
        %p
          Members acknowledge and agree that funds paid to TourMega for Experiences are provided to Traveling
          Spoon solely for the purpose of obtaining and paying for Services, including, without limitation, payment of Total Culinary
          Experience Fees, and the Mark Ups and other fees we are permitted to charge under these Terms (such amounts
          “Members Funds”). TourMega agrees to hold such Member Funds in trust in one or more accounts with banks or
          financial institutions of TourMega’s choice (such accounts, the “Customer Accounts”), and not to use any of such
          Member Funds for its own operations (except for Mark Ups, any interest earned on Member Funds and expenses and
          other amounts reimbursed or paid to TourMega as permitted under these Terms). Upon receipt of Member Funds,
          TourMega agrees to deposit and hold all such funds in one or more Customer Accounts, which will be identified as
          being for the benefit of, or held in trust for, the Members and segregated from any operating, investment or other similar
          accounts of TourMega. TourMega agrees not to comingle amounts held in such Customer Accounts with
          other operating funds of TourMega (other than Mark Ups, any interest earned on Member Funds and
          reimbursements or payment of expenses that may accrue with respect to Member Funds for Services); but Member
          Funds of a Member held in one or more Customer Accounts may be comingled with Member Funds of other Members.
          TourMega further agrees to use its reasonable commercial efforts to not permit such Customer Accounts or
          Member Funds which are the property of Members held therein to become subject to any voluntary lien or security interest
          in favor of a creditor of TourMega. Hosts specifically authorize TourMega to make payment out of such
          Customer Accounts to TourMega of any Mark Ups, interest earned on Member Funds, refunds to Travelers and for
          reimbursement or payment of expenses otherwise permitted under these Terms. Similarly, Travelers specifically
          authorize TourMega to make payment out of such Customer Accounts to TourMega of any portion of Total
          Experience Fees due a Host, interest earned on Member Funds and for reimbursement or payment of expenses
          otherwise permitted under these Terms.
        %p
          Although TourMega will have no obligation to invest any Member Funds held in any Customer Account paid to it or
          to otherwise seek to obtain interest or other return on such Member Funds, TourMega may in its sole discretion
          invest or deposit such funds in an interest bearing or similar account with a bank or financial institution of national
          standing. You agree that you will not receive interest, other earning or return on the Member Funds that TourMega
          administers in the Customer Account. In consideration for your use of the Services, you irrevocably transfer and assign to
          TourMega any ownership right that you may have in any interest, returns or earnings that may accrue on Member
          Funds held in a Customer Account. This assignment applies only to interest, returns or earnings earned on Member
          Funds held in Customer Accounts, and nothing in these Terms grants TourMega any ownership right to the
          principal of the Member Funds you maintain with TourMega (except for Mark Ups and expenses and other amounts
          reimbursed or paid to TourMega as permitted under these Terms).
        %p
          TourMega will have no obligation to account for or report to any Member with respect to its Member Funds paid
          pursuant to the Terms or held in a Customer Account, other than as expressly set forth herein as to an individual Member
          by Member basis with respect to such Member’s TourMega Account. In performance of its obligations as the
          limited payment agent for Hosts (described above), as trustee with respect to Member Funds held in one or more
          Customer Accounts and with respect to handling of Member Funds as described in the preceding paragraphs, Traveling
          Spoon will have no duty to Members except as expressly set forth in the Terms and will not be liable for any breach of
          duty not expressly undertaken in the Terms, except for actions that constitute intentional misconduct, gross negligence or
          bad faith, and in such case, liability will be subject to the limitations set forth below.
        %a{:name => "cancellation"}
        %p
          TourMega may, at any time, without notice to or consent of Members, modify the specific terms set forth in this
          section with respect to Customer Accounts or adopt different terms with respect to the holding, administration and
          investment of Member Funds.
        %h4
          Cancellations
        %h6
          What If The Traveler Cancels?
        %p
          You, as a Traveler, may cancel a Confirmed Booking for a full refund minus a 6% payment processing fee, by contacting
          us up to forty-eight (48) hours before your Experience is scheduled. If your Experience is scheduled to
          take place within forty-eight (48) hours, you will not be entitled to a refund. Hosts will be entitled to receive payment for
          Experiences that have not been cancelled on or prior to this forty-eight (48) hour period, whether or not the
          Experience takes place.
        %h6
          What If The Host Cancels?
        %p
          If you, as a Host, cancel a Confirmed Booking, TourMega will refund the Total Experience Fees for such
          booking to the Traveler within a commercially reasonable time after the cancellation date. Additionally, TourMega
          may charge you an additional fee (up to the amount of the fees paid to you by TourMega) for such cancelled
          booking.
        %h4
          What’s The Deal With The Content On TourMega?
        %p
          You’ll notice that there’s a lot of great content on the Site. “Content” means text, graphics, images, music, software,
          audio, video, works of authorship of any kind, and information or other materials that are posted, generated, provided or
          otherwise made available via the Services.
        %p
          Some of the Content belongs to us – for example if we have a photographer take photographs of Hosts, their locations, or
          the food they prepare, TourMega owns those photographs. If, on the other hand, you provide the photographs then
          we don’t own those photographs. Any Content that you provide to us, including feedback about the Services, is called
          “Your Content”. Your Content (not surprisingly!) is yours and nothing in these Terms restricts any rights that you have to
          use it now and forever. We do however, need to get some permissions (also called “rights”) from you to make Your
          Content available via the Services. These permissions are described below.
        %p
          Subject to your ownership of Your Content, TourMega and its licensors own all rights in the Services and Content,
          including all associated intellectual property rights. This includes any Content that TourMega creates or that is
          created by a third party for, or on behalf of, TourMega, and of course, just as you can use Your Content in any way
          you like, we can also use our Content in any way we like – e.g. we can sell it or use it for advertising.
        %p
          The Services and Content are protected by copyright, trademark, and other laws of the United States and foreign
          countries so you agree not to remove, change or obscure any copyright, trademark, service mark or other proprietary
          rights notices incorporated in or accompanying the Services or Content.
        %h6
          Rights You Grant to TourMega
        %p
          By making Your Content available on or through Services you hereby grant to TourMega a worldwide, irrevocable,
          perpetual, non-exclusive, transferable, royalty-free license, with the right to sublicense, to use, view, copy, adapt, modify
          (for formatting purposes only), distribute, license, transfer, publicly display, publicly perform, transmit, stream, broadcast,
          access and otherwise exploit Your Content on, through or by means of the Services, including for commercial, advertising
          and promotional purposes relating to the Services.
        %h6
          Rights TourMega Grants to You
        %p
          Subject to your compliance with these Terms, TourMega grants you a limited, non-exclusive, non-transferable
          license to (i) access and view any Content that belongs to TourMega solely for your personal and non-commercial
          purposes when you are using the Services; (ii) access and view any Content that belongs to other Members to which you
          are permitted access, solely for your personal and non-commercial purposes when you are using the Services; and (iii)
          access and use the Services via an industry standard consumer web browser (such as MS Internet Explorer, Firefox,
          Safari, etc.), solely for the purpose of providing and booking Experiences, as permitted herein. You have no right
          to sublicense the license rights granted in this section.
        %p
          You will not use, copy, adapt, modify, prepare derivative works based upon, distribute, license, sell, transfer, publicly
          display, publicly perform, transmit, broadcast or otherwise exploit the Content, Services or any portion thereof, except as
          expressly permitted in these Terms. No licenses or rights are granted to you by implication or otherwise under any
          intellectual property rights owned or controlled by TourMega or its licensors, except for the licenses and rights
          expressly granted in these Terms.
        %h4
          Don’t Do Bad Things
        %p
          We really want everyone to have a great experience and to feel safe when using the Services. Accordingly, you agree
          that you’ll only use the Services in a manner that is consistent with the User Conduct Terms, set forth below. If you don’t
          we might have to suspend or terminate your Account.
        %h6
          User Conduct Terms
        %p
          In connection with your use of the Services you agree that you won’t:
          %ul
            %li use the Services for any commercial or other purposes that are not expressly permitted by these Terms;
            %li copy, store or otherwise access any information contained on the Services for purposes not expressly permitted by TourMega or that would violate any laws;
            %li interfere with or damage the Services, including, without limitation, through the use of viruses, cancel bots, Trojan horses, harmful code, flood pings, denial-of-service attacks, packet or IP spoofing, forged routing or electronic mail address information or similar methods or technology;
            %li use the Services to transmit, distribute, post or submit any information concerning any other person or entity, including without limitation, personal contact information or credit, debit, calling card or account numbers;
            %li use the Services in connection with the distribution of unsolicited commercial email ("spam") or advertisements unrelated to the Accommodations;
            %li if you are a Host, install or use webcams or other surveillance equipment in the interior/dwelling space of your location for the purposes of recording a Experience, without the express permission of the Traveler and his guests;
            %li if you are a Host, solicit Travelers for money or any other thing of value during and/or in connection with a Experience;
            %li if you are a Traveler, pay or offer money to a Host during and/or in connection with a Experience;
            %li violate any local, state, provincial, national, or other law or regulation, or any order of a court, including, without limitation Tax regulations;
            %li cause any damage to a location or to the other property, real or personal of a Host or Traveler;
            %li recruit or otherwise solicit any Host or other Services user to join third party services or websites that are competitive or similar to TourMega, without TourMega’s prior written approval;
            %li use manual or automated software, devices, scripts robots, or other means or processes, including automated scripts, to collect information or otherwise interact with the Services or to access, “scrape,” “crawl” or “spider” any web pages or other services contained in the Services or Content;
            %li "stalk" or harass any other user of our Services or collect or store any personally identifiable information about any other user other than for purposes of transacting as a Traveler or Host;
            %li if you are a Traveler, contact a Host for any purpose other than asking a question related to your booking of a Experience (other than with the Host’s permission);
            %li if you are a Host, contact a Traveler for any purpose other than asking a question related to a booking or such Traveler’s use of the Services, (other than with the Traveler’s permission);
            %li mistreat any TourMega employees including, but not limited to, using abusive language in writing or by telephone;
            %li impersonate any person or entity, or falsify or otherwise misrepresent yourself or your affiliation with any person or entity;
            %li post, upload, publish, submit or transmit any Content that: (i) infringes, misappropriates or violates a third party’s patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy; (ii) violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability; (iii) is fraudulent, false, misleading or deceptive; (iv) is defamatory, obscene, pornographic, vulgar or offensive; (v) promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group; (vi) is violent or threatening or promotes violence or actions that are threatening to any other person; or (vii) promotes illegal or harmful activities or substances;
            %li use, display, mirror or frame the Services, or any individual element within the Services, TourMega’s name, any TourMega trademark, logo or other proprietary information, or the layout and design of any page or form contained on a page, without TourMega’s express written consent;
            %li access, tamper with, or use non-public areas of the Services, TourMega’s computer systems, or the technical delivery systems of TourMega’s providers;
            %li attempt to probe, scan, or test the vulnerability of any TourMega system or network or breach any security or authentication measures;
            %li avoid, bypass, remove, deactivate, impair, descramble, or otherwise circumvent any technological measure implemented by TourMega or any of TourMega’s providers or any other third party (including another user) to protect the Services or any of the content on the Services;
            %li attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Services or content on the Services; or
            %li advocate, encourage, or assist any third party in doing any of the foregoing.
        %h6
          TourMega’s Enforcement Rights
        %p
          Although we’re not obligated to monitor access to or use of the Services or Content or to review or edit any Content, we
          have the right to do so for the purpose of operating the Services, to ensure compliance with these Terms or to comply with
          applicable law. We reserve the right, but are not obligated, to remove or disable access to any Content, at any time and
          without notice, including, but not limited to, if we, at our sole discretion, consider any Content to be objectionable or in
          violation of these Terms or of our User Conduct Terms. We have the right to investigate violations of these Terms or
          conduct that affects the Services. We may also consult and cooperate with law enforcement authorities to prosecute
          users who violate the law or other legal requirements, including providing such authorities with access to any Content on
          the Site.
        %h4
          DMCA/Copyright Policy
        %p
          TourMega respects copyright law and expects its users to do the same. It is TourMega’s policy to terminate,
          in appropriate circumstances, Account holders who repeatedly infringe the rights of copyright holders. Please see
          TourMega’s Copyright Policy at
          %a{:href => "/copyright"} www.tourmega.com/copyright
          ,
          for additional information.
        %h4
          Links to Third Party Websites or Resources
        %p
          The Services may contain links to third-party websites or resources. We provide these links only as a convenience and
          are not responsible for the content, products or services on or available from those websites or resources or links
          displayed on such third-party websites. You acknowledge sole responsibility for and assume all risk arising from, your
          use of any third-party websites or resources.
        %h4
          Termination
        %p
          We may terminate these Terms or your access to the Services, at our sole discretion and without liability to you, at any
          time and with or without prior notice to you. Upon any termination, or cancellation of the Services, the following provisions
          will survive: What’s the Deal With The Content On TourMega?; Rights You Grant to TourMega; Disclaimers;
          Limitation of Liability; and Dispute Resolution. Upon any termination, discontinuation or cancellation of the Services or
          your Account, we’ll promptly pay you any amounts that we in our discretion determine we are legally obligated to pay you.
        %h4
          Disclaimers
        %p
          THE SERVICES AND CONTENT ARE PROVIDED “AS IS,” WITHOUT WARRANTY OF ANY KIND. WITHOUT
          LIMITING THE FOREGOING, WE EXPLICITLY DISCLAIM ANY IMPLIED WARRANTIES OF MERCHANTABILITY,
          FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT AND NON-INFRINGEMENT AND ANY WARRANTIES
          ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE.
        %p
          ALTHOUGH WE DO OUR BEST TO WORK WITH HOSTS THAT ARE OF A HIGH QUALITY, AND WE VET OUR
          HOSTS TO TRY TO ENSURE THIS, TourMega MAKES NO WARRANTY THAT THE CULINARY
          EXPERIENCES WILL MEET YOUR REQUIREMENTS OR REGARDING THE QUALITY OF ANY CULINARY
          EXPERIENCES.
        %p
          TourMega MAKES NO WARRANTY AS TO THE IDENTITY, CHARACTER OR CONDUCT OF USERS OF
          THE SERVICES AND ASSUMES NO RESONSIBILITY FOR A HOST’S OR A TRAVELER’S COMPLIANCE WITH ANY
          APPLICABLE LAWS AND REGULATIONS. YOU AGREE TO TAKE REASONABLE PRECAUTIONS IN ALL
          COMMUNICATIONS AND INTERACTIONS WITH OTHER USERS OF THE SERVICES WITH WHOM YOU
          COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE SERVICES, INCLUDING WITHOUT
          LIMITATION TRAVELERS AND HOSTS, PARTICULARLY IF YOU DECIDE TO MEET OFFLINE OR IN PERSON,
          REGARDLESS OF WHETHER SUCH MEETINGS ARE ORGANIZED BY TourMega. TourMega
          EXPLICITLY DISCLAIMS ALL LIABILITY FOR ANY ACT OR OMISSION OF ANY TRAVELER, HOST, OR OTHER
          THIRD PARTY.
        %h4
          Indemnity
        %p
          You will defend, indemnify and hold TourMega and its affiliates and subsidiaries, and their respective officers,
          directors, employees and agents, harmless from and against any claims, disputes, demands, liabilities, damages, losses,
          and costs and expenses, including, without limitation, reasonable legal and accounting fees, arising out of or in any way
          connected with (i) your access to or use of the Site, Services or Content, including without limitation your booking or
          provision of a Experience; (ii) your breach of these Terms; or (iii) Your Content.
        %h4
          Limitation of Liability
        %p
          YOU ACKNOWLEDGE AND AGREE THAT, TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE ENTIRE RISK
          ARISING OUT OF YOUR ACCESS TO AND USE OF THE SERVICES AND CONTENT, YOUR PROVIDING OR
          BOOKING OF ANY EXPERIENCES VIA THE SERVICES, AND ANY CONTACT YOU HAVE WITH OTHER
          USERS OF THE SERVICES, WHETHER IN PERSON OR ONLINE, REMAINS WITH YOU.
        %p
          NEITHER TourMega NOR ANY OTHER PARTY INVOLVED IN CREATING, PRODUCING, OR DELIVERING
          THE SERVICES OR CONTENT, WILL BE LIABLE FOR ANY INCIDENTAL, SPECIAL, EXEMPLARY OR
          CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, LOSS OF DATA OR USE, OR GOODWILL, SERVICE
          INTERRUPTION, COMPUTER DAMAGE OR SYSTEM FAILURE, OR THE COST OF SUBSTITUTE PRODUCTS OR
          SERVICES, OR FOR ANY DAMAGES FOR PERSONAL OR BODILY INJURY OR EMOTIONAL DISTRESS ARISING
          OUT OF OR IN CONNECTION WITH THESE TERMS, OR FROM THE USE OF OR INABILITY TO USE THE
          SERVICES OR CONTENT, OR FROM ANY COMMUNICATIONS, INTERACTIONS OR MEETINGS WITH OTHER
          USERS OF THE SERVICES OR OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT
          OF YOUR USE OF THE SERVICES, OR FROM YOUR PROVIDING OR BOOKING OF ANY EXPERIENCES
          VIA THE SERVICES, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE),
          PRODUCT LIABILITY OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT TourMega HAS BEEN
          INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, EVEN IF A LIMITED REMEDY SET FORTH HEREIN IS
          FOUND TO HAVE FAILED OF ITS ESSENTIAL PURPOSE. SOME JURISDICTIONS DO NOT ALLOW THE
          EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, SO THE ABOVE
          LIMITATION MAY NOT APPLY TO YOU.
        %p
          EXCEPT FOR OUR OBLIGATIONS TO PAY AMOUNTS TO APPLICABLE HOSTS PURSUANT TO THESE TERMS, OR
          REFUND AMOUNTS TO THE APPROPRIATE TRAVELERS IF APPLICABLE, IN NO EVENT WILL TRAVELING
          SPOON’S AGGREGATE LIABILITY ARISING OUT OF OR IN CONNECTION WITH THESE TERMS AND YOUR USE
          OF THE SERVICES, OR FROM ANY COMMUNICATIONS, INTERACTIONS OR MEETINGS WITH OTHER USERS OF
          THE SERVICES OR OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR
          USE OF THE SERVICES, EXCEED THE AMOUNTS YOU HAVE PAID OR OWE FOR BOOKINGS VIA THE SERVICES
          AS A TRAVELER IN THE TWELVE (12) MONTH PERIOD PRIOR TO THE EVENT GIVING RISE TO THE LIABILITY,
          OR, IF YOU ARE A HOST, THE AMOUNTS PAID BY TourMega TO YOU IN THE TWELVE (12) MONTH
          PERIOD PRIOR TO THE EVENT GIVING RISE TO THE LIABILITY, OR ONE HUNDRED DOLLARS ($100), IF NO
          SUCH PAYMENTS HAVE BEEN MADE, AS APPLICABLE. THE LIMITATIONS OF DAMAGES SET FORTH ABOVE
          ARE FUNDAMENTAL ELEMENTS OF THE BASIS OF THE BARGAIN BETWEEN TourMega AND YOU.
        %h4
          Dispute Resolution
        %h6
          Governing Law
        %p
          These Terms and any action related thereto will be governed by the laws of the State of California without regard to its
          conflict of laws provisions.
        %h6
          Agreement to Arbitrate
        %p
          You and TourMega agree that any dispute, claim or controversy arising out of or relating to (a) these Terms or the
          breach, termination, enforcement, interpretation or validity thereof, or (b) the use of the Site, Services, or Content
          (collectively, “Disputes”) will be settled by binding arbitration, except that each party retains the right: (1) to bring an
          individual action in small claims court and (2) to seek injunctive or other equitable relief in a court of competent jurisdiction
          to prevent the actual or threatened infringement, misappropriation or violation of a party’s copyrights, trademarks, trade
          secrets, patents or other intellectual property rights (the action described in the foregoing clause (2), an “IP Protection
          Action”). The exclusive forum, jurisdiction and venue of any IP Protection Action will be the state and federal courts
          located in the Northern District of California and each of the parties hereto waives any objection to jurisdiction and venue
          in such courts.
          %strong You acknowledge and agree that you and TourMega are each waiving the right to a trial by jury or to participate as a plaintiff or class member in any purported class action or representative proceeding.
          Further, unless both you and TourMega otherwise agree in writing, the arbitrator may not consolidate more than
          one person's claims, and may not otherwise preside over any form of any class or representative proceeding. If this
          specific paragraph is held unenforceable in a putative class or representative proceeding, then the agreement to arbitrate
          will be deemed void. Except as provided in the preceding sentence, this “Dispute Resolution” section will survive any
          termination of these Terms.
        %h6
          Arbitration Rules
        %p
          The arbitration will be administered by the American Arbitration Association (“AAA”) in accordance with the Commercial
          Arbitration Rules and the Supplementary Procedures for Consumer Related Disputes (the “AAA Rules”) then in effect,
          except as modified by this “Dispute Resolution” section. (The AAA Rules are available at
          %a{:href => "www.adr.org/arb_med"} www.adr.org/arb_med
          or by calling the AAA at 1-800-778-7879.) The Federal Arbitration Act will govern the interpretation and enforcement of this Section.
        %h6
          Arbitration Process
        %p
          A party who desires to initiate arbitration must provide the other party with a written Demand for Arbitration as specified in
          the AAA Rules. (The AAA provides a form Demand for Arbitration at
          %a{:href => "http://www.adr.org/aaa/ShowPDF?doc=ADRSTG_004175"} http://www.adr.org/aaa/ShowPDF?doc=ADRSTG_004175
          and a separate form for California residents at
          %a{:href => "http://www.adr.org/aaa/ShowPDF?doc=ADRSTG_015822"}> http://www.adr.org/aaa/ShowPDF?doc=ADRSTG_015822
          \.)
          The arbitrator will be either a retired judge or an attorney
          licensed to practice law and will be selected by the parties from the AAA’s roster of arbitrators. If the parties are unable to
          agree upon an arbitrator within seven (7) days of delivery of the Demand for Arbitration, then the AAA will appoint the
          arbitrator in accordance with the AAA Rules.
        %h6
          Arbitration Location and Procedure
        %p
          Unless you and TourMega otherwise agree, the arbitration will be conducted in the county where you reside. If your
          claim does not exceed $10,000, then the arbitration will be conducted solely on the basis of the documents that you and
          TourMega submit to the arbitrator, unless you request a hearing or the arbitrator determines that a hearing is
          necessary. If your claim exceeds $10,000, your right to a hearing will be determined by the AAA Rules. Subject to the
          AAA Rules, the arbitrator will have the discretion to direct a reasonable exchange of information by the parties, consistent
          with the expedited nature of the arbitration.
        %h6
          Arbitrator’s Decision
        %p
          The arbitrator will render an award within the time frame specified in the AAA Rules. The arbitrator’s decision will include
          the essential findings and conclusions upon which the arbitrator based the award. Judgment on the arbitration award may
          be entered in any court having jurisdiction thereof. The arbitrator’s award of damages must be consistent with the terms
          of the “Limitation of Liability” section above as to the types and amounts of damages for which a party may be held liable.
          The arbitrator may award declaratory or injunctive relief only in favor of the claimant and only to the extent necessary to
          provide relief warranted by the claimant’s individual claim. If you prevail in arbitration you will be entitled to an award of
          attorneys’ fees and expenses, to the extent provided under applicable law. TourMega will not seek, and hereby
          waives all rights it may have under applicable law to recover, attorneys’ fees and expenses if it prevails in arbitration.
        %h6
          Fees
        %p
          Your responsibility to pay any AAA filing, administrative and arbitrator fees will be solely as set forth in the AAA Rules.
          However, if your claim for damages does not exceed $75,000, TourMega will pay all such fees unless the arbitrator
          finds that either the substance of your claim or the relief sought in your Demand for Arbitration was frivolous or was
          brought for an improper purpose (as measured by the standards set forth in Federal Rule of Civil Procedure 11(b)).
        %h6
          Changes
        %p
          Notwithstanding the terms of “Changes to Terms or Services” above, if TourMega changes this “Dispute Resolution”
          Section after the date you first accepted these Terms (or accepted any subsequent changes to these Terms), you may
          reject any such change by sending us written notice (including by email to
          %a{:href => "mailto:terms@tourmega.com"} terms@tourmega.com
          )
          within 30 days of
          the date such change became effective, as indicated in the “Last Updated” date above or in the date of TourMega’s
          email to you notifying you of such change. By rejecting any change, you are agreeing that you will arbitrate any Dispute
          between you and TourMega in accordance with the provisions of this “Dispute Resolution” section as of the date
          you first accepted these Terms (or accepted any subsequent changes to these Terms).
        %h4
          General Terms
        %p
          These Terms constitute the entire and exclusive understanding and agreement between TourMega and you
          regarding the Site, Services, and Content, and any bookings or provision of Experiences made via the Services,
          and these Terms supersede and replace any and all prior oral or written understandings or agreements between Traveling
          Spoon and you regarding the Services, Content, and any bookings or provision of Experiences made via the
          Services. If for any reason a court of competent jurisdiction finds any provision of these Terms invalid or unenforceable,
          that provision will be enforced to the maximum extent permissible and the other provisions of these Terms will remain in
          full force and effect.
        %p
          You may not assign or transfer these Terms, by operation of law or otherwise, without TourMega’s prior written
          consent. Any attempt by you to assign or transfer these Terms, without such consent, will be null and of no effect.
          TourMega may freely assign or transfer these Terms without restriction. Subject to the foregoing, these Terms will
          bind and inure to the benefit of the parties, their successors and permitted assigns.
        %p
          Any notices or other communications provided by TourMega to you under these Terms, including those regarding
          modifications to these Terms, will be given by TourMega: (i) via email; or (ii) by posting to the Site. For notices
          made by e-mail, the date of receipt will be deemed the date on which such notice is transmitted. These Terms apply only
          to TourMega and you. These Terms are not intended to, and shall not, create any third party beneficiary rights,
          except as expressly provided in these Terms.
        %p
          TourMega’s failure to enforce any right or provision of these Terms will not be considered a waiver of future
          enforcement of that right or provision or of any other right or provision. The waiver of any right or provision will be
          effective only if in writing and signed by a duly authorized representative of TourMega. Except as expressly set
          forth in these Terms, the exercise by either party of any of its remedies under these Terms will be without prejudice to its
          other remedies under these Terms or otherwise.
        %h4
          Got Feedback?
        %p
          Your opinion matters to us! If you’d like to provide feedback to us about the Services, please go ahead by emailing us at
          %a{:href => "mailto:support@tourmega.com"} support@tourmega.com
          \.
        %h4
          You Are Done!
        %p
          Phew! You made it through our Terms - good for you! Now go and enjoy the Services and TourMega!
