.input-group.inline.clockpicker{"data-align" => "top", "data-autoclose" => "true", "data-placement" => "right"}
  %input#tour_start_time.form-control{ type: "text", value: "#{f.object.start_time}", name: 'tour[start_time]' }
    %span.input-group-addon
      %span.glyphicon.glyphicon-time

:javascript
  $(function(){
    $('.clockpicker').clockpicker();
  });
