RECIPIENT_INTERCEPTOR: 'bdthinh@fit.hcmus.edu.vn'
AIRBRAKE_API_KEY: ''
FILEPICKER_API_KEY: ''
AWS_REGION: us-west-1
S3_BUCKET: tourmega-development
AWS_ACCESS_KEY_ID: AKIAIBTU35YNGFQE2YRQ
AWS_SECRET_ACCESS_KEY: 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
FACEBOOK_KEY: '338630429640928'
FACEBOOK_SECRET: 'aa3b6e8f18aeb626027527a8ed2505c2'
TWITTER_KEY: 'kVWjSsxYDWJZd29oJMe58J5jn'
TWITTER_SECRET: '332nZQoc0XDTN0ZvVf2ldB9nNZqEJM2S5vD4BS1VXIb4pZThYX'
CDN_ASSET_HOST: http://tourmega-development.s3.amazonaws.com
REDISTOGO_URL: 'redis://localhost:6379/'
GOOGLE_MAP_API: AIzaSyAVFzNOGekBgOKcvr31ekJPOS9I4dsioNc

development:

test:

production:
  FACEBOOK_KEY: '1729165073979964'
  FACEBOOK_SECRET: 'd8d65eea9b0834c9b2d813ad7902bed3'
  TWITTER_KEY: 'aNzLZLlU5hnmrr4anrxQovkPR'
  TWITTER_SECRET: 'AH8XUIU1lpgIfjZVGgfXJDzEuP1zBcZNVSIuSU66o6WrX6UTeP'
  AWS_ACCESS_KEY_ID: AKIAJNP4NBDA32X74PHQ
  AWS_SECRET_ACCESS_KEY: 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
  AWS_REGION: us-west-1
  S3_BUCKET: tourmega-production
  CDN_ASSET_HOST: http://tourmega-production.s3.amazonaws.com
