%h2 Welcome to TourMega

%p= "Hello #{@user.first_name}"

%p Welcome to the TourMega family! You are now part of a community of travelers and tour operators from across the globe. Our platform is meant to make it easy for travelers to find unique experiences and provide for tour guides to market their experiences and expand their businesses. 

%p Getting started is only a few more clicks away.

= link_to new_tour_url do
  Complete your profile, post your tour, and provide amazing experiences to travelers from around the world.

%p We’re excited to serve you,

Quynh and Eric
Co-founders, TourMega
