Welcome to TourMega

= "Hello #{@user.first_name}"

Welcome to the TourMega family! You are now part of a community of travelers and tour operators from across the globe. Our platform is meant to make it easy for travelers to find unique experiences and provide for tour guides to market their experiences and expand their businesses. 

Getting started is only a few more clicks away.

Complete your profile, post your tour, and provide amazing experiences to travelers from around the world visiting this link http://www.tourmega.com/tours/new 

We’re excited to serve you,

Quynh and Eric
Co-founders, TourMega
