.panel.panel-has-header.white-bg
  .panel-header Verify Your ID
  .panel-body
    .row.row-condensed.row-table
      .col-xs-12.col-sm-7.col-middle
        %p
          Getting your Verified ID is the easiest way to help build trust in the TourMega community.  We’ll verify you by matching information from an online account to an official ID.

        %p Or, you can choose to only add the verifications you want below.
      .col-xs-12.col-sm-5.col-middle
        .text-center
          %a.button.btn-danger{:href => "#", :title => "Verify Me"} Verify Me
