.no-padding {
  padding: 0;
}

.chosen-container {
  font-size: 20px;
  margin-bottom: 20px;
}
.chosen-container-single .chosen-single {
  height: 35px !important;
  font-size: 20px;
}
.form-group .chosen-container {
  margin-bottom: 0px;
}