%section#header{"sticky-nav" => "", class: ""}
  #pending-notification
    = render "shared/flash_messages", locals: { flash: flash }
  .row.wide#main-header
    .small-12.columns
      #logo
        %a{:href => "#{root_path}"}
          %img{:alt => "TourMega logo", :src => "#{asset_url('logo.png')}"}
      %form.search-form
        %i.fa.fa-search
        %input.autocomplete-location.form-control{:type => 'text', :placeholder => 'Where are you going?'}
      %a.right.right-off-canvas-toggle.menu-icon.hide-for-medium-up
        .arrow
      = render 'layouts/user_navbar'
