.small-6.medium-3.large-3.columns
  %div{:style => "margin: 0px auto 10px; text-align:center"}
    %a{:href => "http://www.tournative.com/", :target => "_blank"}
      %img{:alt => "Tournative", :height => "249", :src => "#{asset_url('partner_tournative.png')}", :style => "border: 0; text-decoration: none;", :width => "400"}
